body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}
.contenedor-form {
  padding: 3rem 0 1px 0;
  background-color: #03a9f4;
}
.input-field label {
  color: white;
}
.input-field input[type=text]:focus + label {
  color: white;
} 
.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 #000;
}
input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white;
  color: white;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: white;
}
.btn-block {
  display: block !important;
  
}
.btn-letra {
  color: black;
}
.error {
  padding: 1rem !important;
  margin-top: 3rem;
  text-emphasis: left;
  text-align: center !important;
  color: #FFF !important;
}
.card-panel{
  background-image: url(assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.card-panel h2 {
  color: rgb(248, 248, 248);
  font-size: 1.6rem;
  text-align: center;
  margin-top:15px;
  padding-top: 1.5rem;
  font-weight: bold;
}
.card-panel p {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #fff;
}
.temperatura {
  font-size: 4rem!important;
  color: rgb(255, 255, 255);
  padding-left:30px;
}
.temperatura span {
  font-size: 2rem!important;
  vertical-align: super;
  font-weight: italic;
}
.glass{
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(3px);
  border-radius:20px;
}
.maxima{
  color: tomato;
}
.minima{
  color: #4169E1;
}